@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #EDE4FF;
    box-sizing: border-box;
}

#dsa {
    font-size: 3rem;
    margin-top: 5px;
    text-align: center;
}

.ques-header .tag-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: auto;
    overflow: scroll;
}

.tag-div {
    float: left;
    margin: 2px;
}

.ques-header .tags {
    background-color: #9288F8;
    font-size: 0.7rem;
    padding: 2px;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#dark-btn {
    color: white;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    height: 50px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    outline: none;
}




.GeekHaven {
    display: flex;
    justify-content: center;
}

/* Basic reset and styles */

.search-container {
    display: flex;
    margin: 20px;
}

#searchInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

#searchInput:focus {
    outline: none;
}

#searchButton {
    padding: 10px;
    border: none;
    background-color: #322653;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#searchResults {
    list-style: none;
    padding: 0;
    margin: 20px;
}

#searchResults li {
    margin-bottom: 10px;
}

#searchResults a {
    text-decoration: none;
    color: black;
}


/* Progress Bar */
.progress-bar{
    position: relative;
    margin-left:20px;
    margin-right: 5px;
    width: 210px;
    height: 30px;
    background-color: #9288F8;
    border-radius: 20px;
    overflow: hidden;
}

.progress{
    width: 0%;
    height: 100%;
    background-color: #190061;
    border-radius: 20px 0px 0px 20px;
}

.percent{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-weight: bolder;
    color: white;
}

/* Title of the Category */
.main-title {
    color: white;
    background-color: #35155D;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 2.0rem;
    width: 90%;
}

.ques-header {
    background-color: azure;
    border-radius: 10px;
    display: flex;
    /* IMPORTANT */
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
}


.ques-container {
    background-color: #6F61C0;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
}

.ques-container:hover {
    background-color: #5C4B99;
}



/* Question title */
.ques-title {
    color: darkblue;
    margin-right: 30px;
    padding: 5px;
    font-size: 1.5rem;
}

/* Check-box */
/* TO-DO!! Add Checkbox functionality */
.my-check-box-1,
.my-check-box-2 {
    cursor: pointer;
    background-color: lavender;
    width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookmark-link {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #3D246C;
    padding: 10px;
    border-radius: 10px;
}

.answer {
    display: none;
}


.ques-header i {
    display: flex;
    align-items: center;
    color: black;
    margin-left: 15px;
    transition: transform 0.2s ease-in-out;
}

.ques-container.active .ques-header i {
    display: flex;
    align-items: center;
    transform: rotate(45deg);
}

.ques-container.active .answer {
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ques-container.active .answer .p1,
.ques-container.active .answer .p2 {
    display: block;
}

.p1,
.p2 {
    display: flex;
    justify-content: space-between;
}

.bookmark-btn {
    background-color: #DAC0A3;
    border: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.bookmark-btn:hover {
    background-color: #EADBC8;
}



.p1-link {
    text-decoration: none;
    color: #071952;
    border-radius: 5px;
    font-size: 19px;
}

.p2-link {
    text-decoration: none;
    color: #071952;
    border-radius: 5px;
    font-size: 19px
}

.yt-link {
    text-decoration: none;
    color: #071952;
    margin-left: 30px;
    font-size: 19px;
}



footer {
    color: black;
}




/* Dark Mode */

/* Added Dark Mode */
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode #dark-btn {
    background-color: #3500D3;
    font-weight: bold;
}

.dark-mode #searchButton {
    background-color: #240090;
}

.dark-mode .main-title {
    background-color: #282828;
    color: whitesmoke;
}



.dark-mode .ques-header {
    background-color: #3500D3;
    color: white;
}

.dark-mode .ques-container {
    background-color: #190061;
}

.dark-mode .tags {
    background-color: #282828;
    border-radius: 10px;
    color: white;
    margin: 2px;
}


.dark-mode .yt-link {
    color: white;
}

.dark-mode .p1-link {
    color: white;
}


.dark-mode .p2-link {
    color: white;
}

.dark-mode .bookmark-btn {
    background-color: white;
}

.dark-mode footer {
    color: aqua;
}

.dark-mode #searchResults a {
    color: wheat;
}

.dark-mode .GeekHaven {
    -webkit-filter: invert(100%);
    /* safari 6.0 - 9.0 */
    filter: invert(100%);
}
